SmartFactory.WinApp/Connected Services/ServiceRef/MachineService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SetMachinePerformance">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ruleId" type="xs:int" />
        <xs:element minOccurs="0" name="newThreshold" type="xs:double" />
        <xs:element minOccurs="0" name="machineName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMachinePerformanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SetMachinePerformanceResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>